@model MyInvoicingApp.ViewModels.InvoiceViewModel

<h2>Dodawanie nowej faktury</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#invoice-header">Nagłówek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" data-toggle="tab" href="#invoice-lines">Linie</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Akcje</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#"><i class="fa fa-check fa-lg" aria-hidden="true"></i> Wyślij do akceptacji</a>
        </div>
    </li>
</ul>
<div id="InvoiceTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="invoice-header">
        <div class="row">
            <div class="col-md-4" id="invoice-lines-div-form-readonly">
                @{
                    await Html.RenderPartialAsync("_AddInvoiceForm", @Model);
                }
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="invoice-lines">
        <fieldset disabled="">
            <div class="row">
                <div class="col-md-4" id="invoice-lines-div-form">
                    @{
                        await Html.RenderPartialAsync("_AddInvoiceLineForm", @Model);
                    }
                </div>
            </div>
            <div id="invoice-lines-div-list">
                @if (@Model.InvoiceLines.Count() != 0)
                {
                    await Html.RenderPartialAsync("_InvoiceLines", @Model.InvoiceLines);
                }
            </div>
        </fieldset>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
