@using MyInvoicingApp.ViewModels
@model MyInvoicingApp.ViewModels.InvoiceViewModel

<h2 class="text-center">Edycja faktury: <b>@Model.InvoiceNumber</b></h2>

<ul class="nav nav-tabs nav-fill" id="InvoiceTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#invoice-header">Nagłówek</a>
        @*<a class="nav-link" data-toggle="tab" href="#invoice-header">Nagłówek</a>*@
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#invoice-lines">Linie</a>
        @*<a class="nav-link active" data-toggle="tab" href="#invoice-lines">Linie</a>*@
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#invoice-attachments">Załączniki</a>
        @*<a class="nav-link active" data-toggle="tab" href="#invoice-attachments">Linie</a>*@
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Akcje</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
            @*<a class="dropdown-item" href="#"><i class="fa fa-check fa-lg" aria-hidden="true"></i> Wyślij do akceptacji</a>*@
            <a asp-controller="Invoice" asp-action="Add" class="dropdown-item"><i class="fas fa-plus fa-lg" aria-hidden="true"></i> Dodaj nową fakturę</a>
            <a asp-controller="Pdf" asp-action="GetInvoicePdf" asp-route-invoiceId="@Model.Id" class="dropdown-item"><i class='far fa-file-pdf fa-lg' aria-hidden="true"></i> eksport faktury do PDF</a>
            <a asp-controller="Excel" asp-action="GetInvoiceExcel" asp-route-invoiceId="@Model.Id" class="dropdown-item"><i class='far fa-file-excel fa-lg' aria-hidden="true"></i> eksport faktury do Excel</a>
        </div>
    </li>
</ul>
<div id="InvoiceTabsContent" class="tab-content">
    <div class="tab-pane fade active show" id="invoice-header">
        @*<div class="tab-pane fade" id="invoice-header">*@
        @{
            await Html.RenderPartialAsync("_AddInvoiceForm", @Model);
        }
    </div>
    <div class="tab-pane fade" id="invoice-lines">
        @*<div class="tab-pane fade active show" id="invoice-lines">*@
        @{
            await Html.RenderPartialAsync("_AddInvoiceLineForm", @Model);
        }
        <div id="invoice-lines-div-list">
            @{
                await Html.RenderPartialAsync("_InvoiceLines", @Model.InvoiceLines);
            }
        </div>
    </div>
    <div class="tab-pane fade" id="invoice-attachments">
        @{
            await Html.RenderPartialAsync("Attachment/_AddAttachments", new AttachmentViewModel());
            await Html.RenderPartialAsync("Attachment/_AttachmentList", Model.Attachments);
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/Invoice/InvoiceAddEdit.js" asp-append-version="true"></script>
        <script src="~/js/Attachment/AttachmentAdd.js" asp-append-version="true"></script>
    }
}
