@model MyInvoicingApp.ViewModels.BudgetViewModel

<h2 class="text-center">Szczegóły budżetu: <b>@Model.BudgetNumber</b></h2>

<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#budget">Budżet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#invoices">Faktury</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="budget">
        <div class="row">
            <div class="col-md-6 border rounded mx-auto">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control text-center" readonly />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" readonly></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="CommitedAmount" class="control-label"></label>
                            <input asp-for="CommitedAmount" class="form-control" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="InvoicedAmount" class="control-label"></label>
                            <input asp-for="InvoicedAmount" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="CreatedBy" class="control-label"></label>
                            <input asp-for="CreatedBy.UserName" class="form-control" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="CreatedDate" class="control-label"></label>
                            <input asp-for="CreatedDate" class="form-control" readonly />
                        </div>
                    </div>
                    @if (@Model.LastModifiedBy != null)
                    {
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="LastModifiedBy" class="control-label"></label>
                                <input asp-for="LastModifiedBy.UserName" class="form-control" readonly />
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="LastModifiedDate" class="control-label"></label>
                                <input asp-for="LastModifiedDate" class="form-control" readonly />
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="btn-group special" role="group">
                            @if (@Model.Accesses.CanEdit)
                            {
                                <a asp-action="Edit" asp-controller="Budget" asp-route-id="@Model.Id" class="btn btn-success">Edytuj</a>
                            }
                            <a asp-action="Index" asp-controller="Budget" class="btn btn-outline-primary">Anuluj</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="invoices">
        @if (Model.InvoiceLines.Count == 0)
        {
            <p>--BRAK--</p>
        }
        else
        {
            await Html.RenderPartialAsync("_InvoiceLines", Model.InvoiceLines);
        }
    </div>
</div>
